In [49]:
import pandas as pd
%matplotlib

df = pd.read_csv('stock_price_240.csv')
df.head()

df2 = pd.read_csv('stock_vol_240.csv')
df2.head()

Using matplotlib backend: MacOSX

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>timestamp</th>
      <th>-120</th>
      <th>-119</th>
      <th>-118</th>
      <th>-117</th>
      <th>-116</th>
      <th>-115</th>
      <th>-114</th>
      <th>-113</th>
      <th>-112</th>
      <th>...</th>
      <th>112</th>
      <th>113</th>
      <th>114</th>
      <th>115</th>
      <th>116</th>
      <th>117</th>
      <th>118</th>
      <th>119</th>
      <th>120</th>
      <th>ticker</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1/27/15 17:00</td>
      <td>NaN</td>
      <td>0.386839</td>
      <td>0.383666</td>
      <td>0.382891</td>
      <td>0.381839</td>
      <td>0.378895</td>
      <td>0.374834</td>
      <td>0.369665</td>
      <td>0.364939</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AAPL</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7/22/14 05:00</td>
      <td>NaN</td>
      <td>0.083267</td>
      <td>0.079466</td>
      <td>0.076716</td>
      <td>0.074463</td>
      <td>0.071849</td>
      <td>0.069605</td>
      <td>0.067713</td>
      <td>0.066305</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AAPL</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4/26/16 17:00</td>
      <td>NaN</td>
      <td>0.139406</td>
      <td>0.139766</td>
      <td>0.140089</td>
      <td>0.140614</td>
      <td>0.140365</td>
      <td>0.140094</td>
      <td>0.140436</td>
      <td>0.140606</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AAPL</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4/27/15 17:00</td>
      <td>NaN</td>
      <td>0.095383</td>
      <td>0.095521</td>
      <td>0.095541</td>
      <td>0.094869</td>
      <td>0.094304</td>
      <td>0.089885</td>
      <td>0.088849</td>
      <td>0.088455</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AAPL</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4/24/12 17:00</td>
      <td>NaN</td>
      <td>2.460291</td>
      <td>2.436171</td>
      <td>2.410310</td>
      <td>2.382210</td>
      <td>2.352058</td>
      <td>2.324493</td>
      <td>2.307351</td>
      <td>2.289716</td>
      <td>...</td>
      <td>2.358427</td>
      <td>2.350526</td>
      <td>2.342483</td>
      <td>2.335568</td>
      <td>2.331697</td>
      <td>2.326156</td>
      <td>2.319707</td>
      <td>2.312494</td>
      <td>NaN</td>
      <td>AAPL</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 243 columns</p>
</div>

In [50]:
df_ticker = df.groupby('ticker').mean()

df2_ticker = df2.groupby('ticker').mean()
df2_ticker.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>-120</th>
      <th>-119</th>
      <th>-118</th>
      <th>-117</th>
      <th>-116</th>
      <th>-115</th>
      <th>-114</th>
      <th>-113</th>
      <th>-112</th>
      <th>-111</th>
      <th>...</th>
      <th>111</th>
      <th>112</th>
      <th>113</th>
      <th>114</th>
      <th>115</th>
      <th>116</th>
      <th>117</th>
      <th>118</th>
      <th>119</th>
      <th>120</th>
    </tr>
    <tr>
      <th>ticker</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AAPL</th>
      <td>NaN</td>
      <td>0.755640</td>
      <td>0.754183</td>
      <td>0.752447</td>
      <td>0.749433</td>
      <td>0.746345</td>
      <td>0.742329</td>
      <td>0.738774</td>
      <td>0.735872</td>
      <td>0.733073</td>
      <td>...</td>
      <td>2.550243</td>
      <td>2.551524</td>
      <td>2.553012</td>
      <td>2.558243</td>
      <td>2.565936</td>
      <td>2.575734</td>
      <td>2.581217</td>
      <td>2.586993</td>
      <td>2.589326</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>AMAT</th>
      <td>NaN</td>
      <td>0.046983</td>
      <td>0.046582</td>
      <td>0.046229</td>
      <td>0.045886</td>
      <td>0.045441</td>
      <td>0.045003</td>
      <td>0.044518</td>
      <td>0.044062</td>
      <td>0.043616</td>
      <td>...</td>
      <td>0.053898</td>
      <td>0.054006</td>
      <td>0.054080</td>
      <td>0.054151</td>
      <td>0.054232</td>
      <td>0.054264</td>
      <td>0.054286</td>
      <td>0.054307</td>
      <td>0.054386</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>AMD</th>
      <td>NaN</td>
      <td>0.031583</td>
      <td>0.031491</td>
      <td>0.031411</td>
      <td>0.031290</td>
      <td>0.031149</td>
      <td>0.031013</td>
      <td>0.030876</td>
      <td>0.030738</td>
      <td>0.030609</td>
      <td>...</td>
      <td>0.057870</td>
      <td>0.058027</td>
      <td>0.058133</td>
      <td>0.058251</td>
      <td>0.058403</td>
      <td>0.058643</td>
      <td>0.058809</td>
      <td>0.059016</td>
      <td>0.059216</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>BP</th>
      <td>NaN</td>
      <td>0.088058</td>
      <td>0.087393</td>
      <td>0.086671</td>
      <td>0.085834</td>
      <td>0.085031</td>
      <td>0.084266</td>
      <td>0.083578</td>
      <td>0.083032</td>
      <td>0.082338</td>
      <td>...</td>
      <td>0.086917</td>
      <td>0.087216</td>
      <td>0.087532</td>
      <td>0.087817</td>
      <td>0.088189</td>
      <td>0.088796</td>
      <td>0.089589</td>
      <td>0.090320</td>
      <td>0.090930</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>BRCD</th>
      <td>NaN</td>
      <td>0.023783</td>
      <td>0.023697</td>
      <td>0.023607</td>
      <td>0.023490</td>
      <td>0.023356</td>
      <td>0.023179</td>
      <td>0.023069</td>
      <td>0.023010</td>
      <td>0.022978</td>
      <td>...</td>
      <td>0.036503</td>
      <td>0.036540</td>
      <td>0.036571</td>
      <td>0.036594</td>
      <td>0.036658</td>
      <td>0.036705</td>
      <td>0.036749</td>
      <td>0.036758</td>
      <td>0.036769</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 241 columns</p>
</div>

In [51]:
df2_ticker.loc[:, 'Cat10'] = df2_ticker.iloc[:, :].apply(lambda x: x.argmax(), axis=1)
df2_ticker.to_csv('20.csv')

df2_ticker.to_csv('20.csv')

In [41]:
import matplotlib.pyplot as plt
import numpy as np
plt.figure()

for ticker in df_ticker.index.values:
    plt.plot(np.arange(-120, 121), df_ticker.loc[ticker, :])

plt.xlim([-120,120])
plt.legend(df_ticker.index.values[:5], loc=3)
    
plt.title('The Ex Ante and Ex Post Stock Return Analysis', fontsize=20)

plt.savefig('stock_240.png')